    @font-face {
        font-family:fancy;
        src: url(../fonts/test.ttf);
    }
    @font-face{
        font-family:caviar;
        src: url(../fonts/caviar.ttf);
        font-weight:normal;
    }
    body {margin:0;}
    .bar{
        top : 0;
        margin: 0;
        background: rgba(45, 179, 0, 0.3)	;
        padding: 0;
        overflow:hidden;
        width:100%;
        height:10%;
        display:flex;
        flex-direction:row;
    }
    .link{
        font-family:fancy;
        padding: 0.3vw 3vw;
        color: white;
        display:block;
        text-align: center;
        background: rgba(38, 153, 0, 0.5);
        float:left;
        font-size : 1.5vw;
        text-decoration:none;
        overflow:hidden;
        flex:1;
    }
    .link:hover{
        background: rgba(38,153,0,0.9);
    }
    .main{
        padding-left: 2em;
        padding-right: 2em;
        text-align:center;
    }
    .main p{
        font-size:1.2em;
        font-family:caviar;
    }
    .adrese{
        margin-top: 3.2em;
        background: rgba(204, 204, 204, 0.5);
        margin-left: 4em;
        margin-right: 4em;
    }
    .header{
        text-align: center;
        height: 12vw;
        width: 100%;
        background-color:#141516;
    }
    .logo {
        display:inline-block;
        justify-content: center;
        width:10%;
        height:80%;
    }
    .bold{
        text-align: center;
        font-weight: bold;
        font-size:2em;
    }
    .containerpoze{
        margin:auto;
        width: 40vw;
        height:40vw;
        border: black solid 1px;
        overflow:hidden;
    }
    .containerpoze img{
        width: 30vw;
        height: 30vw;
    }
    .containerpoze button{
        border:none;
        background-color: inherit;
        display:inline-block;
        height:100%;
        width: 2vw;
        background: rgba(200,200,0,0.9);
        cursor:pointer;
    }
    .footer{
        bottom:0;
        display:flex;
        flex-direction: row;
        overflow:hidden;
        bottom:0;
        background-color: rgba(158,211,143,0.5);
        width:100%;
        height:7vw;
    }
    .footer div{
        flex:1;
        font-family:fancy;
    }
    .footer img{
    }
    .stickysocial{
        position:fixed;
        display:flex;
        text-decoration:none;
        background-color:#3b5998;
        right:0;
        top:1;
        width:60px;
        height:50px;
        border-radius: 10px 0px 0px 10px;
        justify-content: center;
        color:white;
        font-size: 30px;
        font-family:monospace;
        line-height: 48px;
    }
        .titlu{
        color:white;
        font-weight: bold;
    }
        .center{
        display:flex;
        width: 100%;
        justify-content: center;
        margin:10px;
        height:30vw;
        margin-bottom:46px;
    }
        .wrapper{
        display:flex;
        height: 30vw;
        width: 70vw;
        background-image:url(../scroller/imagine_1.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;

        text-align: center;
    }
        .wrapper a{
        height:100%;
        width:100%;

    }
        .wrapper button{
        border:none;
        padding:1vw;
        background-color: rgba(0,0,0,0.0);
        width:auto;
        height:20;
        font-size: 18px;
        vertical-align:middle;
        z-index:9999;
    }
.wrapper button:hover{
   background-color: rgba(0,0,0,0.4);
}